{% extends "base.html" %}
{% block title %}Error 404{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="/guides">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block blockbg %}
	<body background="/static/img/bg10.png">
{% endblock %}

{% block page_content %}
	<div class="errorblock">
		<h1 style="color: white;text-shadow: 2px 1px 1px #6B6B6B;font-size: 70px;margin-bottom: 42px;">Error: 404</h1>
		<p style="text-shadow: 1px 1px 2px #6B6B6B;color:white;margin-bottom:50px;">You broke our site! Just kidding, we couldn't find this page.</p>
		<p style="text-shadow: 1px 1px 2px #6B6B6B;color:white;font-size:20px;margin-bottom:4px;">There may be a typo in the URL, or this page has been deleted or moved.</p>
		<p style="text-shadow: 1px 1px 2px #6B6B6B;color:white;font-size:20px;margin-bottom:21px;">Try searching, or contact us if you think this is a bug.</p>
		<form class="form" method="get" action="/search">
			<input type="text" name="q" id="search" class="input-xlarge search-query" placeholder="Search for any study guide">
			<button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
		</form>
	</div>
{% endblock %}