{% extends "base.html" %}
{% block title %}Error 404{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="/guides">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block blockbg %}
	<body background="/static/img/bg2.png">
{% endblock %}

{% block page_content %}
	<div class="errorblock">
		<h1>Error: 404</h1>
		<h3>Sorry man, we couldn't find the page you were looking for :\</h3>
		<p style="line-height:30px;">Try searching something else, double-checking the URL, or taking a 30 minute walk as a break from studying.</p>
		<p style="line-height:30px;">Either way, have a nice day! :D</p>
		<form class="form" method="get" action="/search">
			<input type="text" name="q" id="search" class="input-xlarge search-query" placeholder="Search for any study guide">
			<button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
		</form>
	</div>
{% endblock %}