{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="/guides">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li class="active"><a href="#">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<h1>About Us</h1>
			<hr>
			<br/>
			<div style="font-size: 150%">
				<strong><a style="text-decoration: none; color: black;" title="too long; didn't read">tl;dr:</a></strong> To help you study more <strong>efficiently</strong>, we created Project Alexandria. It is a website that enables easy sharing and collaboration on study guides.
			</div>
			<br/><br/>
			<p>Have too many study guides? Can't find your study guides? Don't HAVE study guides? Well, we probably have them on this website. Feel free to look through our archives to find the guides you need for that test in a few hours. That's what we're here for. We want students to have the materials they need to study as efficiently as possible. Then, maybe they can actually sleep.</p>
			<p>Do you like our website? Well, we only survive because students have donated their study guides to benefit others, and those guides are what you see here. BUT, we need YOUR help to improve them. If the study guides are not locked (more on locking in the FAQs), please help edit them. OR upload your own study guides, especially if there is no guide for that subject. Give back to the students using this website and know that you helped someone sleep a little earlier or do a little better on a test.</p>
			<br>
			<h3>Q&A</h3>

			<h5>Q: Why are you called Project Alexandria?</h5>
			<p>A: The Royal Library of Alexandria was considered the most significant and largest library in the ancient world. Because our website is a library of study guides, we thought it would be a meaningful name.</p>

			<h5>Q: Why do you require a Bergen email if I go to the Bergen County Academies?</h5>
			<p>A: This is just one of the various security measures we are taking to prevent any abuse to the website. With this, users are not free to upload through anonymity.</p>

			<h5>Q: What do I do if a study guide I want isn’t here?</h5>
			<p>A: There are two options. You can edit one of the existing study guides, so it has the material you want. Or, you can upload a study guide you may have on the topic you want. But since you need the study guide either because you don’t know the topic or don’t have a study guide for it, you can also find someone who does know enough to edit or upload a study guide. I'm sure other people want the guide too, so get him to do it for the community!</p>

			<h5>Q: How do I find a study guide?</h5>
			<p>A: Click on the Guides button above and type in the "search" bar the title, teacher, or subject of the guide you want to get all the study guides that match what you typed. Click on the Download button to view the original guide, or click on the "Edit on Google Doc" button to view the current version as was edited by your peers.</p>

			<h5>Q: What's the point behind making an account?</h5>
			<p>A: With an account, you can upload, upvote, bookmark, edit, and comment on study guides. It's easy, so just do it.</p>

			<h5>Q: What does it mean that a study guide is editable?</h5>
			<p>A: As you can see, each study guide has a google doc version, and if you do not want the guide to change, you can put no to "editable guide" when you upload.</p>

			<h5>Q: Why are there google docs at all?</h5>
			<p>A: Because we encourage users to improve and update the guides as much as possible.</p>

			<h5>Q: Where can we contact you for any issues?</h5>
			<p>A: Click on the Contact tab on top or email us at projalexandria@gmail.com.</p>
		</div>
	</div>
{% endblock %}