<!DOCTYPE html>
<html>
<head>
	<title>{% if index %}Project Alexandria - {% endif %}{% block title %}{% endblock %}{% if not index %} - Project Alexandria{% endif %}</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
	<link type ="text/css" rel="stylesheet" href="/static/css/font-awesome.css">
	<link type ="text/css" rel="stylesheet" href="/static/css/custom.css">
	<link type ="text/css" rel="stylesheet" href="/static/css/bootstrap-toggle-buttons.css">
	<link href='http://fonts.googleapis.com/css?family=Junge' rel='stylesheet' type='text/css'>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/waypoints.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<meta name="google-site-verification" content="SDqbA2YJXxkaqRrfTFZkQ6cti0_wmLrJtGnws1NgyqQ" />

	<!-- Google Analytics -->
	<script type="text/javascript">
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-35582025-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>
</head>

<!-- If Custom Background, e.g. homepage -->
{% if blockbg %}
	{% block blockbg %}{% endblock %}
{% else %}
	{% if bg=='bg1' or not bg  %}
		<body style="background-image: url(/static/img/bg1.jpg);background-position: 50% 0px;background-attachment:fixed;">
	{% else %}
		<body style="background-image: url(/static/img/{{bg}}.png);background-position: 50% 0px;background-attachment:fixed;">
	{% endif %}
{% endif %}
<!-- End If Custom Background -->

	<script src="/static/js/bootstrap.js"></script>

	<script type="text/javascript">	    
        jQuery(document).ready(function() {
            {% if all_schools %}
            	$('#school').typeahead({source: {{ all_schools | safe }}.sort(), items:5});
            {% endif %}

            {% if modal %}
            	{% if modal == 'login' %}
            		$('#login').modal('show')
            	{% else %}
            		$('#signup').modal('show')
            	{% endif %}
            {% endif %}
        });
		{% if not signed_in %}
		jQuery(function($) {
		  $('div.btn-group[data-toggle-name=*]').each(function(){
		    var group   = $(this);
		    var form    = group.parents('form').eq(0);
		    var name    = group.attr('data-toggle-name');
		    var hidden  = $('input[name="' + name + '"]', form);
		    $('button', group).each(function(){
		      var button = $(this);
		      button.live('click', function(){
		          hidden.val($(this).val());
		      });
		      if(button.val() == hidden.val()) {
		        button.addClass('active');
		      }
		    });
		  });
		});
		{% endif %}
	</script>

	<script type="text/javascript">
		function deletenotif (id) {
			notif = $('#'+id).parent();
			hr = notif.next()

			$.ajax({
				type:'POST',
	    		url:'/delete_notif',
	    		data:'key=' + id,
				success: function(response) {
					notif.hide('slow');
					hr.hide();
				}
			});	      		
		}
		
	</script>

	<script type="text/javascript">
	function showMe (it, box) { 
	   var vis = (box.checked) ? "block" : "none"; 
	   document.getElementById(it).style.display = vis;
	 } 
	</script>

	<div class="wrapper">
	<!-- Nav Bar -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand logo" id="navbarlogo" href="/" style="font-weight:900;background:black;padding-left: 14px;padding-right: 19px;margin-right: 4px;">&nbsp;Project Alexandria</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							{% block nav_links %}{% endblock %}
						</ul>
						<ul class="nav pull-right">
							{% if signed_in %}							
								<li>
									{% if notification_html %}
									<a href="#" id="target" title="Notifications" style="padding:0px;margin-top:5px;" rel="popover" data-content="{{notification_html}}" data-original-title="Notifications" data-placement="bottom">
									{% else %}
									<a href="#" id="target" title="Notifications" style="padding:0px;margin-top:5px;" rel="popover" data-content="<center>No notifications</center>" data-original-title="Notifications" data-placement="bottom">
									{% endif %}
										{% if new_notif %}
	    									<img src="/static/img/spot.png" alt="" class="indicator" id="indicator" />
	    									<!--[if !IE]><!-->
	    									<span id="pulse"></span>
	    									<!--<![endif]-->											
										{% else %}
    										<img src="/static/img/spotbw.png" alt="" class="indicator" id="indicator" />
    									{% endif %}	
									</a>

								<li>

								<script>$("a[rel=popover]").popover();</script>

								<li><a id="navwelcome">Welcome,</a></li>
			                    <li id="fat-menu" class="dropdown">
			                      	<a href="#" id="navuser" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ username }}</a>
				                    <ul class="dropdown-menu" role="menu" aria-labelledby="navuser">
				                        <li><a tabindex="-1" href="/user/{{ username }}"><i class="icon-user"></i> Profile</a></li>
				                        <!-- <li><a tabindex="-1" href="#">Inbox</a></li> -->
				                        <li><a tabindex="-1" href="/preferences"><i class="icon-wrench"></i> Preferences</a></li>
				                        <li class="divider"></li>
				                        <li><a tabindex="-1" href="/logout"><i class="icon-off"></i> Log Out</a></li>
				                    </ul>
				                </li>			                      
							{% else %}
								<a href="#signup" role="button" class="btn" data-toggle="modal" style="margin-bottom:5px;">Sign Up</a>
								<a href="#login" role="button" class="btn btn-primary" data-toggle="modal" style="margin-bottom:5px;">Log In</a>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- End Nav Bar -->

		{% if not signed_in %}
		<!-- Sign Up Modal -->
		<div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form method="post" action="/">
		        <div class="modal-header">
		              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		              <h3 id="myModalLabel">Create an Account</h3>
		        </div>
		        <div class="modal-body">
		        	<div class="row" style="min-height:0;margin-left:0px;">
		        		<center>
			    			<a href="/google_signup"><img src="/static/img/g_signin.png"></a>
							<img src="/static/img/fb_signin.png" style="opacity:0.3;">
							<div class="alert alert-error" style="{% if not ext_duplicate_error %}display: none{% endif %};margin-bottom: -8px;margin-top: 11px;">{{ext_duplicate_error|safe}}</div>
		        		</center>
		   			</div>
		   			<hr style="margin-top:15px"/>
		   			<center><h4 style="margin-bottom:15px;">Don't want to use Facebook or Google? <a href="#" onClick="$('#form').show('slow');">Sign up <i class="icon-hand-down"></i></a></h4></center>
		   			<div id="form" {% if not (modal == 'signup') %}style="display:none;"{% endif %}>
		   						   				<div class="row">
							<div class="span2">Username</div>
							<div class="span3"><input type="text" name="username" type="text" value="{{username}}"></div>
						</div>
						<div class="alert alert-error" {% if not username_error %}style="display: none;"{% endif %}>{{username_error}}</div>
		   				
		   				<div class="row">
							<div class="span2">
								Email <i>(optional)</i>
							</div>
							<div class="span3"><input type="text" name="email" type="text" value="{{email}}"></div>
						</div>
						<div class="alert alert-error" {% if not email_error %}style="display: none;"{% endif %}>{{email_error}}</div>
		   				
	   					<div class="row">
							<div class="span2">Password</div>
							<div class="span3"><input name="password" type="password"></div>
						</div>
						<div class="alert alert-error" {% if not password_error %}style="display: none;"{% endif %}>{{password_error}}</div>
						<div class="row">
							<div class="span2">Verify Password</div>
							<div class="span3"><input name="verify" type="password"></div>
						</div>
						<div class="alert alert-error" {% if not verify_error %}style="display: none;"{% endif %}>{{verify_error}}</div>
						<div class="row">
							<div class="span2">School</div>
							<!-- <div class="span3"><div class="input-large uneditable-input">Bergen County Academies</div></div> -->
							<div class="span3"><input type="text" autocomplete="off" name="school" id="school" data-provide="typeahead" value="{{ school }}"></div>
						</div>
						<div class="alert alert-error" {% if not school_error %}style="display: none;"{% endif %}>{{school_error}}</div>
	

						<br />
						<label class="checkbox">
							<input type="checkbox" name="agree"> I agree to the <a href="#" onmouseover="$('#honorcode').show('slow')">PA Honor Code</a> and <a href="tos" target="_blank">Terms of Service</a>
						</label>
						<div id="honorcode" class="row" style="display:none;">
							<div class="well" style="width:460px;margin-left:36px;margin-top:15px;margin-bottom:5px;padding-bottom:10px;">
								<h4 style="font-family:Junge;text-align:center;margin-bottom:8px;">Project Alexandria Honor Code</h4>
								<ul style="font-family:Junge;">
									<li>This site is solely to help me study and perform well academically.</li>
									<li>I will not use the materials on this site to plagiarize, cheat, or do any other form of academic dishonesty.</li>
									<li>I understand that these rules are enforced by my own school.</li>
								</ul>
							</div>						
						</div>
						<div class="alert alert-error" {% if not agree_error %}style="display: none;"{% endif %}>{{agree_error}}</div>
						<div id="human" class="row">
							<div class="span4" style="margin-left:104px;margin-top:15px;">
								{{ widget_html | safe }}
							</div>
						</div>
						<div class="alert alert-error" {% if not human_error %}style="display: none;"{% endif %}>{{human_error}}</div>
		   			</div>
		   			
	        	</div>
	        	<div class="modal-footer">
	        		<div style="float:left;">
	        			<a href="#login" role="button" data-toggle="modal" onclick="$('#signup').modal('hide')">Already signed up?</a>
	        		</div>
	        		<input class="btn btn-primary" type="submit">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
				<input type="hidden" name="formname" value="signup">
	        </form>
	    </div>
		<!-- End Sign Up Modal -->

		<!-- Log In Modal -->
		<div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form method="post" action="/">
		        <div class="modal-header">
		              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		              <h3 id="myModalLabel">Log In</h3>
		        </div>
		        <div class="modal-body">
		        	<div class="row" style="min-height:0;margin-left:0px;">
		        		<center>
			    			<a href="/google_login"><img src="/static/img/g_signin.png"></a>
							<img src="/static/img/fb_signin.png" style="opacity:0.3;">
		        		</center>
		   			</div>
		   			<div class="row" style="min-height:0;margin-top:18px;{% if not google_error %}display:none;{% endif %}">
		   				<div class="span5 alert alert-error" style="margin-bottom:0;">
		   					{{ google_error | safe}}
		   				</div>	
		   			</div>
		   			<hr style="margin-top:15px"/>
					<div class="row">
						<div class="span2">Username</div>
						<div class="span3"><input name="username" type="text" value="{{username}}"></div>
					</div>
					<div class="row">
						<div class="span2">Password</div>
						<div class="span3"><input name="password" type="password"></div>
					</div>
					<div class="row">
						<div class="span2">&nbsp;</div>
						<div class="span3">
							<label class="checkbox">
					        	<input type="checkbox" name="remember"> Remember me
					      	</label>
					    </div>
					</div>
					{% if wrong %}
					<div class="row">
						<div class="span5">
							<div class="span3 alert alert-error" style="margin-left: auto; width: 100%;">{{wrong}}</div>
						</div>
					</div>
					{% endif %}
				</div>
				<div class="modal-footer">
					<div style="float:left;">
	        			<a href="#signup" role="button" data-toggle="modal" onclick="$('#login').modal('hide')">Need an account?</a>
	        		</div>
					<input class="btn btn-primary" type="submit"> 
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
				<input type="hidden" name="formname" value="login">
			</form>
		</div>
		<!-- End Log In Modal -->
		{% endif %}
		<noscript><div style="padding-top:50px;"><div class="alert alert-error">You must turn on Javascript for the site to function!</div></div></noscript>
		<!-- Page Content -->
		{% block page_content %}{% endblock %}
		<!-- End Page Content -->

		<div class="push"></div>
	</div>

	<!-- Footer -->
	{% if main_page %}
	<div class="sticky-footer" style="color: gray;">
		Copyright 2012 All Rights Reserved | 
		<a href="/tos" class="footerlinks" style="color:gray;">Terms of Service</a> | 
		<a href="/team" class="footerlinks" style="color:gray;">Team</a>
	</div>
	{% else %}
	<div class="sticky-footer" style="color: #CFCFCF;">
		Copyright 2012 All Rights Reserved |
		<a href="/tos" class="footerlinks" style="color:#CFCFCF;">Terms of Service</a> | 
		<a href="/team" class="footerlinks" style="color:#CFCFCF;">Team</a>
	</div>
	{% endif %}

	{% if signed_in and not not_found and not prefs %}
	<div class="sticky-footer bg_switcher" style="color: gray;">
		<img src="/static/img/thumb1.png" width="40px" id="bg1" class="bglink">
		<img src="/static/img/thumb2.png" width="40px" id="bg2" class="bglink">
		<img src="/static/img/thumb3.png" width="40px" id="bg3" class="bglink">
		<img src="/static/img/thumb4.png" width="40px" id="bg4" class="bglink">
	</div>
	<script>
	$('.bglink').click(function() {
		var id = $(this).attr('id');
		$.cookie('bg', id, {path:'/'});
		if (id == 'bg1' || id == 'i3'){
			$('body').css({'background-image':'url(/static/img/'+ id +'.jpg)'})		
		} else if (id=='ti2') {
			$('body').css({'background-image':'url(/static/img/ti2.png)', 'background-color':'#181818'})
		} else {
			$('body').css({'background-image':'url(/static/img/' + id + '.png)'})
		}		
	});
	</script>
	<!-- End Footer -->

	<a href="#feedback" id="feedbackbar" data-toggle="modal"></a>

	<div id="feedback" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form method="post" action="/feedback">
	        <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	              <h3 id="myModalLabel">Tell us anything!</h3>
	        </div>
	        <div class="modal-body">
	        	<textarea name="message" style="width:510px;" placeholder="Write your message here.."></textarea>
	        	<h5>Is your feedback:</h5>
				<label style="float:left;"><input type="checkbox" name="Idea" value="Idea">  Idea&nbsp;&nbsp;&nbsp;</label>
				<label style="float:left;"><input type="checkbox" name="Question" value="Question">  Question&nbsp;&nbsp;&nbsp;</label>
				<label style="float:left;"><input type="checkbox" name="Problem" value="Problem">  Problem&nbsp;&nbsp;&nbsp;</label>
				<label style="float:left;"><input type="checkbox" name="Praise" value="Praise">  Praise&nbsp;&nbsp;&nbsp;</label>
        	</div>
	        <div class="modal-footer">
	        	<input class="btn btn-warning" type="submit" value="Thank you!"> 
	        </div>	   			
			<input type="hidden" name="formname" value="feedback">
		</form>
	</div>

	{% endif %}

	<script type="text/javascript">
		$('#target').click(function (e) {
			if ($('#indicator').attr('src') == '/static/img/spot.png'){
				$("#indicator").attr('src',"/static/img/spotbw.png");
				$("#pulse").hide();				
				$.ajax({
					type:'POST',
		    		url:'/notifications',
		    		data:'username=' + '{{ username }}',
    			});	      		
			}
	});
	</script>

	<!-- Notificaiton close script -->
	<script type="text/javascript">
		jQuery("#target").click(function(){ return false; });
	</script>
	<script> $('.tooltips').tooltip() </script>


</body>
</html>