{% extends "base.html" %}
{% block title %}Study Guides{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="guides">Guides</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<center>
				<h1>Hey {{username}}, thank you for signing up!</h1>
				<h2>We're currently in an invitation-only beta, so bare with us as we iron out the kinks.</h2>
				<h2></h2>
		</div>
	</div>
{% endblock %}