{% extends "base.html" %}
{% block title %}Study Guides{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="guides">Guides</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<div style='font-family:Junge;'>
				<h1>Hey {{username}}, thank you for signing up!</h1>
				<h3 style="margin:20px 0;">We're currently in an invitation-only beta, so we can't let everyone in yet. We need some time to iron out the kinks and catch the bugs so that our website is watertight.</h3>
				<h3 style="margin:20px 0;">Be on the lookout for an email from us within the week; your login will be activated through a link we send to you.</h3>
				<h3 style="margin:20px 0;">In the meantime, enjoy this randomly generated picture of a dog.</h3>

				<img src="http://placedog.com/400/300">

				<h3>-- The PA Team</h3>
			</div>
		</div>
	</div>
{% endblock %}