{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block nav_links %}
	{% if signed_in %}
		<li><a href="/">Dashboard</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/create">Create</a></li>
		<li><a href="/upload">Upload</a></li>
		<li><a href="/about">About</a></li>
	{% else %}	
		<li><a href="/">Home</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/about">About</a></li>
		<li class="active"><a href="/contact">Contact</a></li>		
	{% endif %}

{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<h1>Talk to us!</h1>
			<hr>
			<p>Reach us anytime at: <a href="mailto:projalexandria@gmail.com">projalexandria@gmail.com</a></p>
			<hr>
			{% if signed_in %}
			<p>Or fill out this handy form:</p>
			<form method="post" action="/feedback">
	        	<textarea name="message" style="width:510px;" placeholder="Write your message here.."></textarea>
	        	<h5>Is your feedback:</h5>
				<input type="checkbox" name="Idea" value="Idea">  Idea&nbsp;&nbsp;&nbsp;
				<input type="checkbox" name="Question" value="Question">  Question&nbsp;&nbsp;&nbsp;
				<input type="checkbox" name="Problem" value="Problem">  Problem&nbsp;&nbsp;&nbsp;
				<input type="checkbox" name="Praise" value="Praise">  Praise&nbsp;&nbsp;&nbsp;
				<br/><br/>
		        <input class="btn btn-warning" type="submit" value="Thank you!"> 
		
				<input type="hidden" name="formname" value="feedback">
			</form>

			{% else %}
			<p>Or, <a href="#login" data-toggle="modal">log in</a> to directly send us feedback!</p>
			{% endif %}
		</div>


	</div>
{% endblock %}