{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="/guides">Guides</a></li>
	<li><a href="/about">About</a></li>
	<li class="active"><a href="#">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<br/><br/>
		<div class="hero-unit normalhero">
			<h1>Contact</h1>
			<hr>
			<p>Duis et elit quis lacus semper egestas. Pellentesque risus erat, posuere lobortis rhoncus at, dignissim nec est. Nullam sit amet augue id ipsum aliquet semper. Sed ornare nisi vitae massa rhoncus quis laoreet arcu varius. Suspendisse nec turpis quam. Integer nec iaculis purus. Suspendisse suscipit fringilla neque sit amet sollicitudin. Maecenas luctus felis nec nulla vehicula dignissim. Morbi sit amet mauris purus.
			<br/><br/>
			Duis et elit quis lacus semper egestas. Pellentesque risus erat, posuere lobortis rhoncus at, dignissim nec est. Nullam sit amet augue id ipsum aliquet semper. Sed ornare nisi vitae massa rhoncus quis laoreet arcu varius. Suspendisse nec turpis quam. Integer nec iaculis purus. Suspendisse suscipit fringilla neque sit amet sollicitudin. Maecenas luctus felis nec nulla vehicula dignissim. Morbi sit amet mauris purus.</p>
		</div>
	</div>
{% endblock %}