{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block nav_links %}
	<li class="active"><a href="#">Home</a></li>
	<li><a href="/guides">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<center>
				<h1>Dashboard</h1>
			</center>
			<br/>

			<!-- Tabs -->
			<ul class="nav nav-tabs" id="dashboard_tabs">
				<li class="active"><a href="#bookmarks" data-toggle="tab"><i class="icon-bookmark"></i> Bookmarks</a></li>
				<li><a href="#submitted" data-toggle="tab"><i class="icon-upload-alt"></i> Submitted</a></li>
				<!-- <li><a href="#inbox" data-toggle="tab"><i class="icon-envelope-alt"></i> Inbox</a></li> -->
				<form method="get" class="form-search" style="float:right;">
					<input type="text" name ="q" class="input-xlarge search-query" placeholder="Search All Materials">
					<button type="submit" class="btn">Search</button>
				</form>
			</ul>
			<!-- End Tabs -->

			<!-- Tab Contents -->
			<div class="tab-content">
				<!-- Tab Bookmarks -->
				<div class="tab-pane fade active in" id="bookmarks">
					<div class="row-fluid">
						{% for bookmark in bookmark_list %}
							<div class="span4 hoverspan4">
								<span class="dashboardxspan"><a class="dashboardx removebtn" href="#" id="{{ bookmark.guide.blob_key }}">&times;</a></span>
								<span style="float:left;"><img src="/static/img/math.png" style="width:100px;"></span>
								<span style="text-align:right;">
									<h4><a href="../guides/{{ bookmark.guide.url }}">{{ bookmark.guide.title }}</a></h4>
									<div>{{ bookmark.guide.subject }}</div>
									<div>{{ bookmark.guide.teacher }}</div>
									<div><em>{{ bookmark.guide.votes }} Votes</em></div>
								</span>
							</div>
						{% endfor %}
					</div>
				</div>
				<!-- End Tab Bookmarks -->

				<!-- Tab Submitted -->
				<div class="tab-pane fade" id="submitted">
					{% if submitted %}
						<form class="form-inline" style="float:right;">
								Sort by:
								<a href="#" class="btn btn-info btn-mini">Date</a>
								<a href="#" class="btn btn-primary btn-mini">Downloads</a>
								<a href="#" class="btn btn-warning btn-mini">Bookmarks</a>
								<a href="#" class="btn btn-success btn-mini">Votes</a>
						</form><br><br>
						<table class="table table-hover">
							<thead>
								<th>Title</th>
								<th>Subject</th>
								<th>Date Uploaded</th>
								<th>Votes</th>
								<!-- <th>Bookmarks</th> -->
								<!-- <th>Downloads</th> -->
							</thead>
							<tbody>
								{% for i in submitted %}
									<tr>
										<td><a href="/guides/{{username}}/{{ i['title'].replace(' ', '_').lower()}}">{{i['title']}}</a></td>
										<td>{{i['subject']}}</td>
										<td>{{i['date_created'].strftime("%B %d, %Y")}}</td>
										<td>{{i['votes']}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<center>
							<h2>You haven't submitted anything yet!</h2>
							<h3><a href="/upload">Upload</a> a study guide!</h3>
						</center>
					{% endif %}
				</div>
				<!-- End Tab Submitted -->

				<!-- Tab Inbox -->
				<div class="tab-pane fade" id="inbox">
					<table class="table table-hover">
						<thead>
							<th>From</th>
							<th>Subject</th>
							<th>Date</th>
						</thead>
						<tbody>
							<tr>
								<td>Kenny Song</td>
								<td><a href="#">Welcome to Project Alexandria!</a></td>
								<td>Sept 14, 2012</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- End Tab Inbox -->

			</div>
			<!-- End Tab Contents -->
		</div>
	</div>
	
	<script>
	
	$('a.removebtn').click(function() {
		var id = $(this).attr('id');
		$.post("/removebookmark", {id: id} );
		$(this).parent().parent().hide();
	});
	
	</script>
{% endblock %}
