{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block nav_links %}
	{% if signed_in %}
		<li><a href="/">Dashboard</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/create">Create</a></li>
		<li><a href="/upload">Upload</a></li>
		<li><a href="/about">About</a></li>
	{% else %}	
		<li><a href="/">Home</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	{% endif %}
{% endblock %}

{% block page_content %}
<!-- Typeahead Script -->
<script type="text/javascript">	    
    var schools = {{ all_schools | safe }};
    jQuery(document).ready(function() {
        $('#schools').typeahead({source: {{ all_schools | safe }}.sort(), items:5});

        {% if modal %}
        	{% if modal == 'login' %}
        		$('#login').modal('show')
        	{% else %}
        		$('#signup').modal('show')
        	{% endif %}
        {% endif %}
    });
	{% if not signed_in %}
	jQuery(function($) {
	  $('div.btn-group[data-toggle-name=*]').each(function(){
	    var group   = $(this);
	    var form    = group.parents('form').eq(0);
	    var name    = group.attr('data-toggle-name');
	    var hidden  = $('input[name="' + name + '"]', form);
	    $('button', group).each(function(){
	      var button = $(this);
	      button.live('click', function(){
	          hidden.val($(this).val());
	      });
	      if(button.val() == hidden.val()) {
	        button.addClass('active');
	      }
	    });
	  });
	});
	{% endif %}
</script>
<!-- End Typeahead Script -->

<div class="container">
	<div class="well">
		<center>
			<h2>Almost done! Just tell us who you are.</h2><br />
		</center>
			<form method="post" id="ext_signup">
				<div class="row">
					<div class="span2">Username:</div>
					<div class="span3"><input type="text" name="username" value={{username}}></div>
				</div>
				<div class="row"  {% if not username_error %}style="display: none;"{% endif %}>
					<div class="span5 alert alert-error">{{username_error}}</div>
				</div>
				
				<div class="row">
					<div class="span2">School</div>
					<div class="span3"><input type="text" autocomplete="off" name="school" id="ext_school" data-provide="typeahead" value="{{ school }}" onblur="if ($('#ext_school')[0].value == 'Bergen County Academies') {$('#bergenmail').show('slow');}"></div>
				</div>
				<div class="row" {% if not school_error %}style="display: none;"{% endif %}>
					<div class="span5 alert alert-error">{{school_error}}</div>
				</div>

				<div id="bergenmail"{% if not email_error %}style="display:none;"{% endif %}>
				<div class="row">
					<div class="span2">Bergen Mail</div>
					<div class="span3">
						<div class="input-append">
						  <input type="text" name="email" class="input-small" value="{{email}}"><span class="add-on">@bergen.org</span>
						</div>
					</div>
				</div>
				<div class="row"  {% if not email_error %}style="display: none;"{% endif %}>
					<div class="span5 alert alert-error">{{email_error}}</div>
				</div>
				</div>

				<div class="row">
					<div class="well" style="width:460px;margin-left:36px;margin-top:15px;margin-bottom:5px;">
						<h4 style="font-family:Junge;text-align:center;margin-bottom:8px;padding-bottom:10px;">Project Alexandria Honor Code</h4>
						<ul style="font-family:Junge;">
							<li>This site is solely to help me study and perform well academically.</li>
							<li>I will not use the materials on this site to plagiarize, cheat, or do any other form of academic dishonesty.</li>
							<li>I understand that these rules are enforced by my own school.</li>
						</ul>
					</div>						
				</div>

				<br />
				<div class="row">
					<div class="span5">
					<label class="checkbox">
						<input type="checkbox" name="agree" onclick="if ($('#ext_school')[0].value == 'Bergen County Academies') {$('#bergenmail').show('slow');}">I agree to the PA Honor Code and <a href="tos" target="_blank">Terms of Service</a>
					</label>
					</div>
				</div>
				<div class="row" {% if not agree_error %}style="display: none;"{% endif %}>
					<div class="span5 alert alert-error" >{{agree_error}}</div>
				</div>
				<div class="row">
					<div class="span2">
					<input class="btn btn-primary" type="submit" value="We're Done!" id="ext_submit">
					</div>
				</div>
			</form>
		
	</div>
</div>

{% if not signed_in %}
<script type="text/javascript">
	$("#ext_signup").submit(function(){
		if (jQuery.inArray($('#ext_school')[0].value, schools) == -1) {
			if (!confirm('Are you sure you want to create a new school called "' + $('#ext_school')[0].value + '"?\nCheck if your school is already list in the dropdown!')) {
				return false;
			}
		}
	});
</script>
{% endif %}
{% endblock %}