{% extends "base.html" %}
{% block title %}Study Guides{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="#">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<center>
				<h1>Study Guides</h1>
			</center>
			<br/>
			<!-- Tabs -->
			<ul class="nav nav-tabs" id="guides_tabs">
				<li class="active">
					<a href="#top" data-toggle="tab">Top</a>
				</li>
				<li><a href="#subject" data-toggle="tab">Subject</a></li>
				<li><a href="#teacher" data-toggle="tab">Teacher</a></li>
				<form method="get" class="form-search" style="float:right;">
					<input type="text" name ="q" class="input-xlarge search-query" placeholder="Search All Materials">
					<button type="submit" class="btn">Search</button>
				</form>
			</ul>
			<!-- End Tabs -->

			<div class="tab-content">

				<!-- Top Tab Content -->
				<div class="tab-pane fade active in" id="top">
					<h2>Top Guides</h2>
					<br />
					<table class="table-hover">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>#</th>
								<th>Title</th>
								<th>Subject</th>
								<th>Uploader</th>
								<th>Teacher</th>					
								<th>Votes</th>
							</tr>
						</thead>
						<tbody>
							{% for guide in top_guides %}
								<tr>
									<td>
										<div class="btn-group btn-group btn-group-vertical answer" id="{{ guide.blob_key }}">
											<button class="btn btn-mini vote up"><i class="icon-caret-up"></i></button>
											<button class="btn btn-mini vote down"><i class="icon-caret-down"></i></button>
										</div>
										&nbsp;&nbsp;
									</td>
									<td>{{ loop.index }}</td>
									<td><a href="/guides/{{ guide.url }}">{{ guide.title }}</a></td>
									<td>{{ guide.subject }}</td>
									<td>{{ guide.user_created }}</td>
									<td>{{ guide.teacher }}</td>
									<td class="score_{{ guide.blob_key }}" id="{{ guide.votes|str_votes }}">{{ guide.votes|str_votes }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- End Top Tab Content -->

				<!-- Subject Tab Content -->
				<div class="tab-pane fade" id="subject">
					<div id="subjectlist">
						<ul class="breadcrumb">
							<li class="active">Subjects <span class="divider">/</span></li>
						</ul>
						<ul>
							{% for subject in subjects %}
							<li>
								<a href="#{{subject}}" class="subjects" id="{{subject}}">{{ subject }}</a>
								&nbsp;&nbsp;<img src="../static/img/ajax-loader.gif" id="s_{{subject}}load" style="display:none;"/>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div id="subjectlist2" style="display:none;"></div>
					<div id="subjectlist3" style="display:none;"></div>
				</div>				
				<!-- End Subject Tab Content -->

				<!-- Teacher Tab Content -->
				<div class="tab-pane fade" id="teacher">
					<div id="teacherlist">
						<ul class="breadcrumb">
							<li class="active">Teachers <span class="divider">/</span></li>
						</ul>
						<ul>
							{% for teacher in teachers %}
							<li>
								<a href="#{{teacher}}" class="teachers" id="{{teacher}}">{{ teacher }}</a>
								&nbsp;&nbsp;<img src="../static/img/ajax-loader.gif" id="t_{{teacher}}load" style="display:none;"/>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div id="teacherlist2" style="display:none;"></div>
					<div id="teacherlist3" style="display:none;"></div>
				</div>
				<!-- End Teacher Tab Content -->

			</div>
		</div>
	</div>
  
  <script>
      $('.subjects').click(function (e) {
      	subject = this.id;
      	$('#s_'+subject+'load').show();

		e.preventDefault();
		$.ajax({
            type:'POST', 
            url:'/subjects', 
            data:'subject=' + subject, 
            success: function(response) {
            	$('#s_'+subject+'load').hide();
            	$('#subjectlist').hide();
            	$('#subjectlist2').html(response);
            	$('#subjectlist2').show();
                
            }
        });
      })
      function subtoggle1(){
      	$('#subjectlist2').hide();
	    $('#subjectlist').show();   
      }
      function subtoggle2(){
      	$('#subjectlist3').hide();
	    $('#subjectlist').show();   
      }
      function subtoggle3(){
      	$('#subjectlist3').hide();
	    $('#subjectlist2').show();   
      }

      $('div.answer button.vote').click(function() {
        var id = $(this).parents('div.answer').attr('id');
        var vote_type = $(this).hasClass('up') ? 'up' : 'down';
        var previous_votes = $("td.score_" + id).attr('id');
        if(vote_type == 'up') {
        	$.post("/vote", {id: id, type: vote_type, username : "{{ username }}"}, function() {
        		$("td.score_" + id).html(Number(previous_votes) + 1);
        	})
        } else {
        	$.post("/vote", {id: id, type: vote_type, username : "{{ username }}"}, function() {
        		$("td.score_" + id).html(Number(previous_votes) - 1);
        	})             
        }
    });

</script>
<script>
	  $('.teachers').click(function (e) {
	  	teacher = this.id;
	  	$('#t_'+teacher+'load').show();

		e.preventDefault();
		$.ajax({
	        type:'POST', 
	        url:'/teachers', 
	        data:'teacher=' + teacher, 
	        success: function(response) {
	        	$('#t_'+teacher+'load').hide();
	        	$('#teacherlist').hide();
	        	$('#teacherlist2').html(response);
	        	$('#teacherlist2').show();
	            
	        }
	    });
	  })
	  function teachtoggle1(){
	  	$('#teacherlist2').hide();
	    $('#teacherlist').show();   
	  }
	  function teachtoggle2(){
	  	$('#teacherlist3').hide();
	    $('#teacherlist').show();   
	  }
	  function teachtoggle3(){
	  	$('#teacherlist3').hide();
	    $('#teacherlist2').show();   
	  }
</script>

{% endblock %}