{% extends "base.html" %}
{% block title %}{{ result.title }} - Project Alexandria{% endblock %}

{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/guides">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">

			<div class="row-fluid">
				<div class="span8">
					<h1>{{ result.title }}</h1>
					<h3><em>by <a href="/user/{{ result.user_created }}">{{ result.user_created }}</a></em></h3>
					<h6>{{ result.subject }} - {{ result.teacher }}</h6> 
					<h5>					
					    <a href="/addbookmark" id="bookmarkbtn" style="margin-left:-1px;"><i class="icon-bookmark"></i> Bookmark</a>	
					    <span> | </span>					    
					    <a href="{{ dl_link }}"><i class="icon-download-alt"></i> Download</a>  	
					    <span> | </span>

						{% if not result.locked %}
						<a href="{{ result.edit_url }}" target="_blank">
							<i class="icon-cloud"></i> Edit on Google Docs
						</a>
						{% else %}
						<span style="color:#ACACAC;">							
							<i class="icon-cloud"></i> Edit on Google Docs						
						</span>	
						{% endif %} 							
					</h5>
				</div>
				<div class="span4">
					<div class="btn-group btn-group-vertical answer" id="{{result.blob_key}}" style="float:right;margin-top:10px;">
					  <button class="btn btn-large vote up"><i class="icon-caret-up"></i></button>
					  <button class="btn btn-large vote down"><i class="icon-caret-down"></i></button>
					</div>
					<div style="position:relative;top:90px;left:40px;text-align:right;"><h6 class="score" id="{{votes}}">{{ votes }} Votes</h6></div>
					<button type="button" class="btn btn-danger btn-small" data-loading-text="Reported" style="position:relative;float:right;left:40px;top:85px;" id="report">
						Report Guide <i class="icon-exclamation-sign"></i>
					</button>
				</div>
			</div>
			<hr>
			<img style="float: right" src="http://placedog.com/300/350" alt="advertisement">
			<h4>Comments</h4>
			<br/>
			<p>
				<strong>spez: </strong>
				this study guide is awesome!
			</p>
			<p>
				<h6 style="font-weight:normal;"><em>10:51pm Sept 12, 2012</em></h6>
			</p>
			<p>
				<strong>ksong: </strong>
				@spez this study guide helps so much!
			</p>
			<p>
				<h6 style="font-weight:normal;"><em>10:51pm Sept 12, 2012</em></h6>
			</p>
			<form method="post">
				<div><textarea name="comment" placeholder="Write a comment"></textarea></div>
				<div><input type="button" class="btn" value="Submit"></div>
			</form>
		</div> 
	</div>


	<script type="text/javascript">
	$('#report').click(function (e) {
		$('#report').button('loading');	
	      e.preventDefault();
	})

	$('div.answer button.vote').click(function() {
        var id = $(this).parents('div.answer').attr('id');
        var vote_type = $(this).hasClass('up') ? 'up' : 'down';
        var previous_votes = $("h6.score").attr('id');
        if(vote_type == 'up') {
        	$.post("/vote", {id: id, type: vote_type, username : "{{ username }}"}, function() {
        		$("h6.score").html(Number(previous_votes) + 1);
        	})
        } else {
        	$.post("/vote", {id: id, type: vote_type, username : "{{ username }}"}, function() {
        		$("h6.score").html(Number(previous_votes) - 1);
        	})             
        }
    });
	</script>
{% endblock %}