{% extends "base.html" %}
{% block title %}{{ result.title }} - Project Alexandria{% endblock %}

{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/guides">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">

			<div class="row-fluid">
				<div class="span8">
					<h1>{{ result.title }}</h1>
					{% if result.user_created == '[deleted]' %}
						<h3><em>by </em>{{ result.user_created }}</h3>
					{% else %}
						<h3><em>by <a href="/user/{{ result.user_created }}">{{ result.user_created }}</a></em></h3>
					{% endif %}
					<h6>{{ result.subject }} - {{ result.teacher }}</h6> 
					<h5>
					    <a href="#" class="bookmarkbtn" id="{{ result.blob_key }}" style="margin-left:-1px;"><i class="icon-bookmark"></i> Bookmark</a>	
						<span> | </span>					    
					    <a href="{{ dl_link }}"><i class="icon-download-alt"></i> Download</a>
					    <span> | </span>

						{% if result.edit_url %}
						<a href="{{ result.edit_url }}" target="_blank">
							<i class="icon-cloud"></i> Edit on Google Docs
						</a>
						{% else %}
						<span style="color:#ACACAC;">							
							<i class="icon-cloud"></i> Edit on Google Docs						
						</span>	
						{% endif %} 							
					</h5>
				</div>
				<div class="span4">
					<div class="btn-group btn-group-vertical answer" data-toggle="buttons-radio" id="{{ result.key() }}" style="float:right;margin-top:10px;">
					  <button class="btn btn-large vote up"><i class="icon-caret-up"></i></button>
					  <span rel="tooltip" id="tip_{{ result.key()}}" class="tooltips" title="You already voted for this guide. <a href='#' class='tiplink' onclick=&quot;$('#tip_{{result.key()}}').tooltip('hide')&quot;>&times;</a>" data-placement="left" style="float:left;"></span>
					  <button class="btn btn-large vote down"><i class="icon-caret-down"></i></button>
					</div>
					<div style="position:relative;top:90px;left:40px;text-align:right;"><h6 id="votes_{{ result.key() }}">{{ votes }} Votes</h6></div>
					<button type="button" class="btn btn-danger btn-small" data-loading-text="Reporting..." style="position:relative;float:right;left:40px;top:85px;" id="report">
						Report Guide <i class="icon-exclamation-sign"></i>
					</button>
					{% if reported %}
					<script type="text/javascript">
						$('#report').button('loading');
						$('#report').html('Reported. Thank you!')
					</script>
					{% endif %}
				</div>
			</div>
			<hr>
			<div style="float:right;">
				<script type="text/javascript"><!--
					google_ad_client = "ca-pub-1213608668776384";
					/* Ad1 */
					google_ad_slot = "3236695387";
					google_ad_width = 336;
					google_ad_height = 280;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
			<div style="width: 336px; height: 280px;">&nbsp;</div>
			{% if false %}
			<h4>Comments</h4>
			<br/>
			<p>
				<strong>spez: </strong>
				this study guide is awesome!
			</p>
			<p>
				<h6 style="font-weight:normal;"><em>10:51pm Sept 12, 2012</em></h6>
			</p>
			<p>
				<strong>jarson95: </strong>
				@spez this study guide helps so much!
			</p>
			<p>
				<h6 style="font-weight:normal;"><em>10:51pm Sept 12, 2012</em></h6>
			</p>
			<form method="post">
				<div><textarea name="comment" placeholder="Write a comment"></textarea></div>
				<div><input type="button" class="btn" value="Submit"></div>
			</form>
			{% endif %}
		</div> 
	</div>


	<script type="text/javascript">
	
	function toggleBookmark() {
		$('a.bookmarkbtn').toggleClass('bmd');
		if ( $('a.bookmarkbtn').hasClass('bmd') ) {
			$('a.bookmarkbtn').fadeOut(300, function() {
				$('a.bookmarkbtn').html('<i class="icon-bookmark-empty"></i> Remove Bookmark');
				$('a.bookmarkbtn').fadeIn(270);
			});
			
		}
		else {
			$('a.bookmarkbtn').fadeOut(300, function() {
				$('a.bookmarkbtn').html("<i class='icon-bookmark'></i> Bookmark" );
				$('a.bookmarkbtn').fadeIn(270);
			});
			
		}
	}
	
	$(document).ready(function() {
		if ( "{{ bookmarked }}" == "True" ) {
			$('a.bookmarkbtn').addClass('bmd');
			$('a.bookmarkbtn').html('<i class="icon-bookmark-empty"></i> Remove Bookmark');
		}
	});
	

	$('a.bookmarkbtn').click(function() {
		if ("{{ logged_in }}" != "True") return;
		var id = $(this).attr('id');
		
		if ( $('a.bookmarkbtn').hasClass('bmd') ) {
			$.post('/removebookmark', {id: id});
		}
		else {
			$.post('/addbookmark', {id: id});
		}
		toggleBookmark();
	});
	
	function str_votes(n) {
		n += '';
		if (n>0){ 
			n = '+' + n;
		}
		return n;
	}

	$('div.answer button.vote').click(function() {
	    var id = $(this).parents('div.answer').attr('id');
	    var vote_type = $(this).hasClass('up') ? 'up' : 'down';
	    var previous_votes = $("td.score_" + id).attr('id');

	    $.ajax({
		    type:'POST', 
		    url:'/vote', 
		    data:'id=' + id + '&type=' + vote_type + '&username=' + "{{ username }}",
		    success: function(response) {
				if (response == 'False') {
					// if already voted
					$("#tip_" + id).tooltip('show');
				} else if (response == 'signin') {
					$('#login').modal('show');
				} else {
					prev = parseInt($('#votes_' + id).text())
					after = prev + parseInt(response)
					$('#votes_' + id).html(str_votes(after) + ' Votes')
					if (vote_type == 'up'){
						$('#votes_' + id).css({'color':'#14BB14'})
					} else {
						$('#votes_' + id).css({'color':'red'})
					}
				}		        
		    }
		});
	});

    $('#report').click(function() {
    	$('#report').button('loading');
    	$.ajax({
    		type:'POST',
    		url:'/report',
    		data:'blob_key=' + '{{ result.blob_key }}',
    		success: function(response) {
    			$('#report').html(response)
    		}
    	});
    });

	</script>
{% endblock %}