{% extends "base.html" %}
{% block title %}PA{% endblock %}

{% block nav_links %}
<li><a href="/">Home</a></li>
<li><a href="/guides">Guides</a></li>
{% if signed_in %}
	<li><a href="/upload">Upload</a></li>
{% endif %}
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block blockbg %}
<!-- <body style="background-color:#F1F1F1;"> -->
<body background="/static/img/bg1.png">
{% endblock %}

{% block page_content %}
		<div style="padding:15px;background-image:url('../static/img/home_bg.jpg');background-position:center;">
			<h1 class="textcenter logo" style="font-size:100px;color:white;padding-top:130px;padding-bottom:20px;text-shadow: 1px 2px black;">Project Alexandria</h1>
			<br />
			<!-- OLD: text-shadow: 1px 1px black; -->
			<p class="textcenter" style="font-size:30px;color:white;padding-top:50px;text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black">Study Efficiently, Study Together.</p>
			<p class="textcenter" style="font-size:20px;color:white;text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black">Share and Collaborate on Study Guides.</p>
			

		<center>
			<div style="width: 600px;height: 30px;margin-top: 40px;padding-top: 20px;padding-bottom: 20px;background-color: rgba(165, 165, 165, 0.46);border-radius: 5px;">
				<form>
					<input type="text" class="input-xlarge search-query" placeholder="Search for any study guide">
					<button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
					<span style="color:white;">&nbsp;&nbsp;&nbsp;-or-&nbsp;&nbsp;&nbsp;</span>
					<a style="color:white;" href="/about">Learn More</a>
				</form>
			</div>
		</center>	

		</div>

		<div class="container" style="margin-top:25px;">
		<!--
			<div class="progress progress-striped active">
				<div class="bar" style="width: 60%;"></div>
			</div>
			<p style="text-align: right;">We're currently 60% done.</p>
		-->
		</div>

{% endblock %}


