{% extends "base.html" %}
{% block title %}Share and Collaborate on Study Guides, Study more Efficiently{% endblock %}

{% block nav_links %}
<li><a href="/">Home</a></li>
<li><a href="/guides">Guides</a></li>
{% if signed_in %}
	<li><a href="/create">Create</a></li>
	<li><a href="/upload">Upload</a></li>
{% endif %}
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block blockbg %}
<body background="/static/img/bg6.png">
{% endblock %}

{% block page_content %}
	<!-- Smooth Scroll Script -->
	<script type="text/javascript">
		function goToByScroll(id){
		$('html,body').animate({scrollTop: $(id).offset().top},'medium');
		}
		$(document).ready(function(){
			$('.scroll').click(function(){
			goToByScroll($(this).attr('href'));
			return false;
			});
		});
		function goToSearch(){
			$('html,body').animate({scrollTop: $('#top').offset().top},'medium', function(){$('#search').focus();});
		}
	</script>
	<!-- End Smooth Scroll Script -->


	<div id="top" style="padding:15px;background-image:url('../static/img/home_bg.jpg');background-position:center;box-shadow: 0px 4px 5px black;">
		<div id="wrap" style="float:left;position:relative;left:50%;">
			<div class="alert alert-info" style="position:relative;top:35px;float:left;left:-50%;">
			  <button type="button" class="close" data-dismiss="alert">×</button>
			  Hey everyone! The signup bug is fixed so you can make an account now! Sorry for the inconvenience :)
			</div>
		</div>

		<h1 class="textcenter biglogo" title="The Borg Collective">
			<img src="/static/img/small_logo.png" style="position:relative;bottom:10px;box-shadow: 1px 1px 5px 1px rgb(32, 32, 32);">
			Project Alexandria
		</h1>
		<br />
		<p class="textcenter" style="font-size: 38px;color:white;text-shadow: 2px 2px 2px black">Study together.</p>
		<p class="textcenter" style="font-size: 26px;color:white;padding-top: 24px;text-shadow: 2px 2px 2px black">Find, share, and collaborate on study guides.</p>
		

	<center>
		<div style="width: 600px;height: 30px;margin-top: 40px;margin-bottom:25px;padding-top: 25px;padding-bottom: 25px;background-color: rgba(0, 0, 0, 0.43);border-radius: 5px;">
			<form class="form" method="get">
				<input type="text" name="q" id="search" class="input-xlarge search-query" placeholder="Search for any study guide" autofocus="autofocus" rel="tooltip" data-placement="left" title="Don't know what to search for?<br>Try &quot;biology zhang&quot; or &quot;history alschen&quot;" >
				<button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
				<span style="color:white;">&nbsp;&nbsp;&nbsp;-or-&nbsp;&nbsp;&nbsp;</span>
				<a style="color:white;" href="/guides">View top guides &#8594;</a>
				<script>
					$('#search').tooltip();
				</script>
			</form>
		</div>
	</center>	
	</div>

	<div id="more" style="margin-top:25px;">
		<div class="textcenter" style="padding:12px;">
			<h3 style="font-family: 'Junge', cursive;text-shadow: 0px 1px 1px #4d4d4d; color: #222;margin-top:35px;">Study Efficiently, Study Smarter, Study Together</h3>
		</div>
		<hr style="margin-top:-10px;margin-bottom:30px;"/>
		<center style="font-size:17px;">
			<div style="padding:12px;margin-left:auto;margin-right:auto;">
				<h1 style="text-shadow: 0px 1px 3px #4D4D4D;font-size:85px;display:inline;line-height:80px;">1</h1>
				<br />
				<span>Search for a topic, teacher, or subject.</span>
				<br />
				<img src="/static/img/step1.png" style="border:solid 1px;margin-top:10px;">
			</div>
			<div style="padding:12px;">
				<h1 style="text-shadow: 0px 1px 3px #4D4D4D;font-size:85px;display:inline;line-height:80px;">2</h1>
				<br />
				<span>Choose a study guide, download it, or help edit it.</span>
				<br />
				<img src="/static/img/step2.png" style="border:solid 1px;margin-top:10px;">
			</div>
			<div style="padding:12px;">
				<h1 style="text-shadow: 0px 1px 3px #4D4D4D;font-size:85px;display:inline;line-height:80px;">3</h1>
				<br />
				<span>If you like a guide, vote it up! It shows other students which guides are the best.</span>
				<br />
				<img src="/static/img/step3.png" style="border:solid 1px;margin-top:10px;">
			</div>
			<div style="padding:12px;">
				<h1 style="text-shadow: 0px 1px 3px #4D4D4D;font-size:85px;display:inline;line-height:80px;">4</h1>
				<br />
				<span>Want to add your own study guide? Just upload the file and we'll take care of the rest.</span>
				<br />
				<img src="/static/img/step4.png" style="border:solid 1px;margin-top:10px;">
			</div>

		
		<div style="padding:12px;margin-bottom:25px;">
			<span>Make an <a href="#signup" role="button" data-toggle="modal">account</a> or start <a href="#top" class="scroll" onclick="goToSearch()">searching</a> right away.</span>
		</div>
		</center>

	</div>


{% endblock %}