{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="/guides">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li><a href="/about">About</a></li>
	<li class="active"><a href="#">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<h1 align="center">Moderate</h1>
			<hr>
			TODO: Put extra sign in feild here
			<hr>
			<h2>Stats:</h2>
			Users: {{ num_of_users }}<br/>
			Guides: {{ num_of_guides }}<br/>
			Total Data Stored: {{ total_data }} MB<br/>
			Schools: {{ num_of_schools }}<br/>

		</div>


	</div>
{% endblock %}