{% extends "base.html" %}
{% block title %}Preferences{% endblock %}
{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="/guides">Guides</a></li>
	{% if signed_in %}
		<li><a href="/upload">Upload</a></li>
	{% endif %}
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>

{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<center>
				<h1>{{username}}'s Preferences</h1>
			</center>
			<br/>
			<div class="alert alert-success" {% if not password_success %}style="display: none;"{% endif %}>Your password has successfully been changed!</div>
			<div class="alert alert-success" {% if not school_success %}style="display: none;"{% endif %}>Your school has successfully been changed!</div>
			<div class="alert alert-success" {% if not email_success %}style="display: none;"{% endif %}>Your email has successfully been changed!</div>
			<div class="alert alert-success" {% if not verification_success %}style="display: none;"{% endif %}>Another verification email has been sent!</div>
			<hr>
			{% if not email %}
				<h3>Add an email:</h3>
				<form action="/change_email" method="post">
					<div class="row">
						<div class="span2">
							Email:
						</div>
						<div class="span3">
							<input type="text" name="email">
						</div>
						<div class="span3">
							<div class="alert alert-error" {% if not email_error %}style="display: none;"{% endif %}>{{email_error}}</div>
						</div>
					</div>
					<input type="submit" value="Add Email" class="btn btn-primary">
				</form>
			{% else %}
				{% if not email_verified %}
					<h3>Your email (<a href="mailto:{{email}}">{{email}}</a>) is not yet verified!</h3>
					<form action="/resend_email" method="post">
						<!-- <input type="hidden" name="type" value="resend_email_verification"> -->
						<input type="hidden" name="email" value="{{ email }}">
						<input type="submit" class="btn btn-primary" value="Resend Verification">
					</form>
					<hr>
				{% endif %}
				<h3>Change your email:</h3>
				<form action="/change_email" method="post">
					<div class="row">
						<div class="span2">
							Email:
						</div>
						<div class="span3">
							<input type="text" name="email">
						</div>
						<div class="span3">
							<div class="alert alert-error" {% if not email_error %}style="display: none;"{% endif %}>{{email_error}}</div>
						</div>
					</div>
					<input type="submit" value="Change Email" class="btn btn-primary">
				</form>
			{% endif %}
			<hr>
			<h3>Change the background: <img src="/static/img/ajax-loader.gif" id="bg_loader" style="display:none;"></h3>
			<div class="bg_switcher_prefs" style="color: gray;">
				{% for i in [1,3,9,7, 2, 5, 8, 14, 6, 10, 11, 12, 13, 4] %}
				<img src="/static/img/thumb{{i}}.png" width="40px" id="bg{{i}}" class="bglink">
				{% endfor %}
			</div>
			<script>
			function hider (){
				$('#bg_loader').hide();
			}
			$('.bglink').click(function() {
				var id = $(this).attr('id');
				$.cookie('bg', id, {path:'/'});
				if (id == 'bg1'){
					$('body').css({'background-image':'url(/static/img/'+ id +'.jpg)'})
				} else if (id == 'bg3') {
					$('body').css({'background-image':'url(/static/img/'+ id +'.jpeg)'})
				} else {
					$('body').css({'background-image':'url(/static/img/' + id + '.png)'})
				}	
				$('#bg_loader').show();
				setTimeout(hider, 1000);	
			});
			</script>			
			<hr>
			<h3>Change your school:</h3>
			<form action="/change_school" method="post">
				<div class="row">
					<div class="span2">
						School:
					</div>
					<div class="span3">
						<input type="text" autocomplete="off" name="school" id="school" data-provide="typeahead" placeholder="{{school}}">
					</div>
					<div class="span3">
						<div class="alert alert-error" {% if not school_error %}style="display: none;"{% endif %}>{{school_error}}</div>
					</div>
				</div>
				<input class="btn btn-primary" type="submit" value="Change School">
			</form>
			<hr>
			<h3>Change Password:</h3>
			<form action="/change_password" method="post">
				<div class="row">
					<div class="span2">
						Current Password:
					</div>
					<div class="span3">
						<input type="password" name="current_password">
					</div>
					<div class="span4">
						{% if current_password_error %}
							<div class="alert alert-error">{{current_password_error}}</div>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="span2">
						New Password:
					</div>
					<div class="span3">
						<input type="password" name="new_password">
					</div>
					<div class="span4">
						{% if new_password_error %}
							<div class="alert alert-error">{{new_password_error}}</div>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="span2">
						Verify New Password:
					</div>
					<div class="span3">
						<input type="password" name="verify_new_password">
					</div>
					<div class="span4">
						{% if verify_new_password_error %}
							<div class="alert alert-error">{{verify_new_password_error}}</div>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<input type="submit" class="btn btn-primary" value="Reset Password"></a>
					</div>
				</div>
			</form>
			<hr>
			<strong>WARNING: CHANGES ARE PERMANENT!</strong><br/>
			<a class="btn btn-danger" href="/delete_account">Delete Account Permanently</a>
		</div>
	</div>
{% endblock %}