{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block nav_links %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/guides">Guides</a></li>
{% if signed_in %}
	<li><a href="/upload">Upload</a></li>
{% endif %}
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
<div class="container">
	<div class="well">
		<center>
		<h2 style="margin-bottom:18px;"> Search Results </h2>
		<form method="get" class="form-search">
			<input type="text" name ="q" class="input-xlarge search-query" value="{{query}}">
			<button type="submit" class="btn">Search</button>
		</form>
		<hr/>
		<img src="http://placedog.com/1100/150">
		<br/><br/>
		</center>
		{% if guides %}
		<table class="table-hover">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Title</th>
					<th>Subject</th>
					<th>Teacher</th>
					<th>Votes</th>
				</tr>
			</thead>
			<tbody>
			{% for guide in guides %}
				<tr>
					<td>
						<div class="btn-group btn-group btn-group-vertical">
							<button class="btn btn-mini"><i class="icon-caret-up"></i></button>
							<button class="btn btn-mini"><i class="icon-caret-down"></i></button>
						</div>
					</td>
					<td><a href="/guides/{{ guide.url }}">{{ guide.title }}</a></td>
					<td>{{ guide.subject }}</td>
					<td>{{ guide.teacher }}</td>
					<td>{{ guide.votes }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% if guides|length < 4 %}
				<br/><br/>
				<img src="http://placedog.com/1100/150">
			{% endif %}
		{% else %}
		<center><h3>No results found.</h3></center>
		{% endif %}
	</div>
</div>
{% endblock %}