{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block nav_links %}
	{% if signed_in %}
		<li><a href="/">Dashboard</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/create">Create</a></li>
		<li><a href="/upload">Upload</a></li>
		<li><a href="/about">About</a></li>
	{% else %}	
		<li><a href="/">Home</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	{% endif %}
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<h1>Team</h1>
			<hr>
			<div>
				<img src="/static/img/faces/kenny.jpg" style="width:100px;height:100px;float:left;">
				<div style="margin-left:120px;">
					<h3 style="display:inline;">Kenny Song </h3>
					<h5>Developer</h5>
					<h5>
						<a href="http://kennysong.wordpress.com">Blog</a> 
						|  
						<a href="http://www.linkedin.com/in/kennysong/">LinkedIn</a>
						|  
						<a href="mailto:kenny@projectalexa.com">Email</a>
		  			</h5>
				</div>
	  		</div>
	  		<hr>
			<div>
				<img src="/static/img/faces/jared.jpeg" style="width:100px;height:108px;float:left;">
				<div style="margin-left:120px;">
					<h3 style="display:inline;">Jared Zoneraich </h3>
					<h5>Developer</h5>
					<h5>
						<a href="http://imjaredz.com">About Me</a> 
						|  
						<a href="http://www.linkedin.com/pub/jared-zoneraich/4b/27a/6b1">LinkedIn</a>
						|  
						<a href="mailto:jared@projectalexa.com">Email</a>
		  			</h5>
				</div>
	  		</div>
	  		<hr>
			<div>
				<img src="/static/img/faces/justin.jpg" style="width:100px;height:108px;float:left;">
				<div style="margin-left:120px;">
					<h3 style="display:inline;">Justin Kim </h3>
					<h5>Operations</h5> 
					<h5>
						<a href="mailto:justin@projectalexa.com">Email</a>
		  			</h5>
				</div>
	  		</div>
	  		<hr>
			<div>
				<img src="/static/img/faces/eric.jpg" style="width:100px;height:100px;float:left;">
				<div style="margin-left:120px;">
					<h3  style="display:inline;">Eric Kim </h3>

					<h5>Marketing</h5> 
					<h5>
						<a href="mailto:eric@projectalexa.com">Email</a>
		  			</h5>
				</div>
	  		</div>
	  		<hr>
			<div>
				<img src="/static/img/faces/matthew.jpg" style="width:100px;height:100px;float:left;">
				<div style="margin-left:120px;">
					<h3  style="display:inline;">Matthew Lotocki </h3>
					<h5>Developer</h5> 
					<h5>
						<a href="mailto:matthew@projectalexa.com">Email</a>
		  			</h5>
				</div>
	  		</div>		
		</div>
	</div>
{% endblock %}
