{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block nav_links %}
	{% if signed_in %}
		<li><a href="/">Dashboard</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/create">Create</a></li>
		<li><a href="/upload">Upload</a></li>
		<li><a href="/about">About</a></li>
	{% else %}	
		<li><a href="/">Home</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	{% endif %}
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<h1>Team</h1>
			<hr>
			<div>
				<!-- <img src="/static/img/faces/jared.jpeg" style="width:100px;height:108px;float:left;"> -->
				<img src="/static/img/avatar.png" style="width:100px;height:100px;float:left;">
				<div style="margin-left:120px;">
					<h2>Jared Zoneraich</h2>
					<h5>Co-Founder, Developer</h5>
					<h5>
						<a href="http://imjaredz.com">About Me</a> 
						|  
						<a href="http://www.linkedin.com/pub/jared-zoneraich/4b/27a/6b1">LinkedIn</a>
						|  
						<a href="mailto:jared@projectalexa.com">Email</a>
		  			</h5>
				</div>
	  		</div>
	  		<hr>
			<div>
				<img src="/static/img/avatar.png" style="width:100px;height:100px;float:left;">
				<div style="margin-left:120px;">
					<h2>Justin Kim</h2>
					<h5>Co-Founder, Marketing</h5> 
					<h5>
						<a href="mailto:jared@projectalexa.com">Email</a>
		  			</h5>
				</div>
	  		</div>
	  		<hr>
			<div>
				<img src="/static/img/avatar.png" style="width:100px;height:100px;float:left;">
				<div style="margin-left:120px;">
					<h2>Name</h2>
					<h5>Bio here</h5> 
					<h5>
						<a href="#">Twitter</a> 
						|  
						<a href="#">Email</a>
						|  
						<a href="#">Etc</a>
		  			</h5>
				</div>
	  		</div>
	  		<hr>
			<div>
				<img src="/static/img/avatar.png" style="width:100px;height:100px;float:left;">
				<div style="margin-left:120px;">
					<h2>Name</h2>
					<h5>Bio here</h5> 
					<h5>
						<a href="#">Twitter</a> 
						|  
						<a href="#">Email</a>
						|  
						<a href="#">Etc</a>
		  			</h5>
				</div>
	  		</div>
	  		<hr>
			<div>
				<img src="/static/img/avatar.png" style="width:100px;height:100px;float:left;">
				<div style="margin-left:120px;">
					<h2>Name</h2>
					<h5>Bio here</h5> 
					<h5>
						<a href="#">Twitter</a> 
						|  
						<a href="#">Email</a>
						|  
						<a href="#">Etc</a>
		  			</h5>
				</div>
	  		</div>			
		</div>
	</div>
{% endblock %}