{% extends "base.html" %}
{% block title %}Terms of Service{% endblock %}
{% block nav_links %}
	{% if signed_in %}
		<li><a href="/">Dashboard</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/create">Create</a></li>
		<li><a href="/upload">Upload</a></li>
		<li><a href="/about">About</a></li>
	{% else %}	
		<li><a href="/">Home</a></li>
		<li><a href="/guides">Guides</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	{% endif %}
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<h1>Terms of Service</h1>
			<hr>
			<p>These Terms of Service ("Terms") govern your access to and use of Project Alexandria and any information, text, or other materials uploaded, downloaded or appearing on the website. Your access to and use of Project Alexandria are conditioned on your acceptance of and compliance with these Terms. By accessing or using the website you agree to be bound by these Terms.</p>

			<h4>Privacy</h4>
			<p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.</p>
			<ul>
				<li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li>
				<li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
				<li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
				<li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use, or modification.</li>
				<li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li>
			</ul>
			<p>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.</p>

			<ol>
				<li><h4>Sharing Your Content and Information</h4>
					<p>We own all of the content and information you post on Project Alexandria. In addition:</p>
					<ol>
						<li>For content that is covered by intellectual property rights, like documents (IP content), you specifically give us the following permission, subject to your privacy: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with Project Alexandria (IP License).</ii>
						<li>When you publish content or information, it means that you are allowing everyone, including people off of Project Alexandria, to access and use that information, and to associate it with your account.</li>
						<li>We always appreciate your feedback or other suggestions about Project Alexandria, but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</li>
					</ol>
				</li>

				<li><h4>Safety</h4>
					<p>We do our best to keep Project Alexandria safe, but we cannot guarantee it. We need your help to keep Project Alexandria safe, which includes the following commitments by you:</p>
					<ol>
						<li>You will not take part in any form of academic dishonesty through Project Alexandria.</li>
						<li>You will not post unauthorized commercial communications (such as spam) on Project Alexandria.</li>
						<li>You will not collect users' content or information.</li>
						<li>You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on Project Alexandria.</li>
						<li>You will not upload viruses or other malicious code.</li>
						<li>You will not solicit login information or access an account belonging to someone else.</li>
						<li>You will not bully, intimidate, or harass any user.</li>
						<li>You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.</li>
						<li>You will not use Project Alexandria to do anything unlawful, misleading, malicious, or discriminatory.</li>
						<li>You will not do anything that could disable, overburden, or impair the proper working or appearance of Project Alexandria, such as a denial of service attack or interference with page rendering or other Project Alexandria functionality.</li>
						<li>You will not facilitate or encourage any violations of these Terms.</li>
					</ol>
					<p>Upon violating these terms, we retain the right to terminate your account at any time and prosecute you to the fullest extent of the law.</p>
				</li>

				<li><h4>Registration and Account Security</h4>
					<p>Project Alexandria users provide their information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:</p>
					<ol>
						<li>You will not provide any false personal information on Project Alexandria, or create an account for anyone other than yourself without permission.</li>
						<li>If we disable or terminate your account, you will not create another one without our permission.</li>
						<li>You will keep your contact information accurate and up-to-date.</li>
						<li>You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
						<li>You will not transfer your account to anyone without first getting our written permission.</li>
						<li>If you select a username or similar identifier for your account, we reserve the right to remove or reclaim it if we believe it is appropriate.</li>
					</ol>
				</li>

				<li><h4>Protecting Other People's Rights</h4>
					<p>We respect other people's rights, and expect you to do the same.</p>
					<ol>
						<li>You will not post content or take any action on Project Alexandria that infringes or violates someone else's rights or otherwise violates the law.</li>
						<li>We can remove any content, information, or terminate any account on Project Alexandria if we believe that it violates these Terms.</li>
						<li>If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</li>
						<li>You will not use our copyrights or trademarks (including Project Alexandria, PA, Project Alexa), or any confusingly similar marks, except as expressly permitted with our prior written permission.</li>
						<li>You will not post anyone's identification documents or sensitive financial information on Project Alexandria.</li>
					</ol>
				</li>

				<li><h4>Special Provisions Applicable to Students</h4>
					<p>Any form of academic dishonesty, including but not limited to plagiarism and cheating, is strictly prohibited. Students using Project Alexandria are subject to penalty by the educational institution they attend for academic dishonesty, and consequences for such dishonesty will be determined by the educational institution and its rules and regulations. Any user found to be aiding in plagiarism and/or cheating, will not only face consequences (as chosen by the educational institution that they attend), but also may face a prompt termination of the offending user’s account. We are not responsible for any material uploaded to http://projectalexa.com that violates the Terms of Service.</p>
					<p>You affirm that you are either 18 years of age or older, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into these terms, conditions, obligations, affirmations, representations and warranties set forth in these Terms of Use. In any case, you affirm that you are over the age of 13 as this website is not intended for children under 13.</p>
				</li>

				<li><h4>About Advertisements and Other Commercial Content Served or Enhanced by Project Alexandria</h4>
					<p>Our goal is to deliver ads and commercial content that are valuable to our users and advertisers. In order to help us do that, you agree to the following:</p>
					<ol>
						<li>Your searches and preferences may be associated with the enhancement of certain advertisements.</li>
						<li>You understand that we may not always identify paid services and communications as such.</li>
					</ol>
				</li>

				<li><h4>Special Provisions Applicable to Advertisers</h4>
					<p>The following additional terms apply to advertisers:</p>
					<ol>
						<li>We will determine the size, placement, and positioning of your ads.</li>
						<li>We do not guarantee the activity that your ads will receive, such as the number of clicks your ads will get.</li>
						<li>We cannot control how clicks are generated on your ads.</li>
						<li>We can use your ads and related content and information for marketing or promotional purposes.</li>
						<li>We may reject or remove any ad for any reason.</li>
						<li>If you are placing ads on someone else's behalf, you must have permission to place those ads, including the following:
							<ol>
								<li>You warrant that you have the legal authority to bind the advertiser to these Terms.</li>
								<li>You agree that if the advertiser you represent violates these Terms, we may hold you responsible for that violation.</li>
							</ol>
						</li>
					</ol>
				</li>

				<li><h4>Amendments</h4>
					<ol>
						<li>Project Alexandria may revise these Terms of Service for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms of Service.</li>
						<li>Your continued use of Project Alexandria following changes to our Terms constitutes your acceptance of our amended Terms.</li>
					</ol>
				</li>

				<li><h4>Termination</h4>
					<p>If you violate the letter or spirit of these Terms, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of Project Alexandria to you. In addition, the violator can and will be prosecuted to the fullest extent of the law.</p>
				</li>

				<li><h4>Disputes</h4>
					<ol>
						<li>You will resolve any claim, cause of action or dispute (claim) you have with us arising out of or relating to these Terms or Project Alexandria exclusively in a state or federal court located in Bergen County. The laws of the State of New Jersey will govern these Terms, as well as any claim that might arise between you and us, without regard to conflict of law provisions. You agree to submit to the personal jurisdiction of the courts located in Bergen County, New Jersey for the purpose of litigating all such claims.</li>
						<li>If anyone brings a claim against us related to your actions, content or information on Project Alexandria, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim. Although we provide rules for user conduct, we do not control or direct users' actions on Project Alexandria and are not responsible for the content or information users transmit or share on Project Alexandria. We are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on Project Alexandria. We are not responsible for the conduct, whether online or offline, or any user of Project Alexandria.</li>
						<li>Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under these Terms shall be finally settled on an individual basis in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in Hackensack, New Jersey, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce these Terms shall be entitled to costs and attorneys’ fees.</li>
					</ol>
				</li>

				<li><h4>Disclaimer of Warranties</h4>
					<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>
					<ol>
						<li>YOUR USE OF THE PROJECT ALEXANDRIA SERVICES ARE AT YOUR SOLE RISK. THE PROJECT ALEXANDRIA SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. PROJECT ALEXANDRIA AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>
						<li>PROJECT ALEXANDRIA AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS MAKE NO WARRANTY THAT (i) THE PROJECT ALEXANDRIA SERVICES WILL MEET YOUR REQUIREMENTS; (ii) THE PROJECT ALEXANDRIA SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE PROJECT ALEXANDRIA SERVICES WILL BE ACCURATE OR RELIABLE; (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL OBTAINED BY YOU THROUGH THE PROJECT ALEXANDRIA SERVICES MEET YOUR EXPECTATIONS.</li>
						<li>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE PROJECT ALEXANDRIA SERVICES IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR AND HEREBY WAIVE ANY AND ALL CLAIMS AND CAUSES OF ACTION WITH RESPECT TO ANY DAMAGE TO YOUR COMPUTER SYSTEM, INTERNET ACCESS, DOWNLOAD OR DISPLAY DEVICE, OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</li>
						<li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM PROJECT ALEXANDRIA OR THROUGH OR FROM THE PROJECT ALEXANDRIA SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS.</li>
					</ol>
				</li>

				<li><h4>Definitions</h4>
					<ol>
						<li>By "Project Alexandria" we refer to the features and services we make available, including through our website at www.projectalexa.com.</li>
						<li>By "information" we refer to facts and other information about you, including actions taken by users and non-users who interact with Project Alexandria.</li>
						<li>By "content" we refer to anything you or other users post on Project Alexandria that would not be included in the definition of information.</li>
						<li>By "data" or "user data" or "user's data" we refer to any data, including a user's content or information that you or third parties can retrieve from Project Alexandria or provide to Project Alexandria.</li>
						<li>By "post" we refer to post on Project Alexandria or otherwise make available by using Project Alexandria.</li>
						<li>By "use" we refer to using, copying, publicly performing or displaying, distributing, modifying, translating, and creating derivative works of.</li>
						<li>By "active registered user" we refer to a user who has logged into Project Alexandria at least once in the previous 80 days.</li>
					</ol>
				</li>

				<li><h4>Other</h4>
					<ol>
						<li>These Terms make up the entire agreement between the parties regarding Project Alexandria, and supersedes any prior agreements.</li>
						<li>If any portion of these Terms is found to be unenforceable, the remaining portion will remain in full force and effect.</li>
						<li>If we fail to enforce any of these terms, it will not be considered a waiver.</li>
						<li>Any amendment to or waiver of these Terms must be made in writing and signed by us.</li>
						<li>You will not transfer any of your rights or obligations under these Terms to anyone else without our consent.</li>
						<li>All of our rights and obligations under these Terms are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.</li>
						<li>Nothing in these Terms shall prevent us from complying with the law.</li>
						<li>These Terms do not confer any third party beneficiary rights.</li>
						<li>We reserve all rights not expressly granted to you.</li>
						<li>You will comply with all applicable laws when using or accessing Project Alexandria.</li>
					<ol>
				</li>
			</ol>
		</div>
	</div>
{% endblock %}