{% extends "base.html" %}
{% block title %}Upload a Guide{% endblock %}

{% block nav_links %}
	<li><a href="/">Home</a></li>
	<li><a href="/dashboard">Dashboard</a></li>
	<li><a href="/guides">Guides</a></li>
	<li class="active"><a href="/uploads">Upload</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="well">
			<center><h1>Upload a Guide</h1></center>
			<form method="post" action="{{ upload_url }}" enctype="multipart/form-data">
	        	<div class="row">
					<div class="span2">Title</div>
					<div class="span4"><input class="input-xlarge" type="text" name="title" value="{{title}}"></div>
				</div>
	        	<div class="row">
					<div class="span2">Subject</div>
					<div class="span4"><input class="input-xlarge" type="text" name="subject" value="{{subject}}"></div>
				</div>
	        	<div class="row">
					<div class="span2">Teacher</div>
					<div class="span4"><input class="input-xlarge" type="text" name="teacher" value="{{teacher}}"></div>
				</div>
	        	<div class="row">
					<div class="span2">Not Editable?</div>
					<div class="span4"><input type="checkbox" name="username"></div>
				</div>
				<div class="row">
					<div class="span2">File:</div>
					<div class="span4"><input type="file" name="file"></div>			
				</div>
				<div class="row">
					<div class="span2">
						<input type="submit" name="submit" value="Submit">
					</div>
				</div>
			</form>
		</div> 
	</div>
{% endblock %}